/*
Ant Color Library
*/

.ant-purple {
  background: #7b169c;
}
.ant-purple-gradient {
  background-color: linear-gradient(#610a8c, #4a0361);
}
.ant-purple-dark {
  background-color: rgb(77, 5, 77)
}
.navigasi-warna {
  background: linear-gradient(#b43cf0, #4a0361);
}


/**
Text Color
*/
.ant-purple-text{
  color: #4a0361;
}


/**
*Market Place CSS
*/
.ant-market-box-product{
  border-radius: 10px ;
  height: 300px ;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  
}

.ant-market-box-product-content{
  font-size: 10pt; 
  font-family: Arial, Helvetica, sans-serif; 
  font-weight:normal; padding: 2px;
}

/**
overide btn 
*/
.text-transform-none{
  text-transform: none !important;
}


/**
*font Size
*/

.ant-title{
  font-size: 18pt;
}

.ant-lg-title{
  font-size: 24pt;
}

.ant-sm-title{
  font-size: 12pt;
}

/*
Ant Font Style
*/
.ant-font-viga{
  font-family: 'viga';
}
.ant-font-viga-xs{
  font-family: 'viga';
  font-size: 9pt;
}


.box-statistik {
  -webkit-transform: translateY(-80px);
  -moz-transform: translateY(-80px);
  -ms-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  transform: translateY(-80px);
  z-index: 1;
  background: linear-gradient(#b43cf0, #4a0361);
}

.footer {
  background: linear-gradient(#b43cf0, #4a0361);
}

.footer .title {
  margin-top: 3px;
  color: white;
  font-size: 16pt;
  font-weight: bold;
}
.footer .address {
  color: white;
  font-size: 10pt;
}
.footer .social-media {
  color: white;
  font-size: 10pt;
}

.footer .social-media .icon {
  color: white;
  margin-bottom: 5px;
}

.footer .copyright {
  color: white;
  font-size: 9pt;
}

/* ==========================================================
! 08. SECTION: Sponsors
========================================================== */
.sponsor-item {
  height: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff;
  line-height: 100px;
  text-align: center;
  margin-right: 10px;
}
.sponsor-item img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  opacity: 0.7;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.sponsor-item:hover img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  opacity: 1;
}
.sponsors-list-wrapper {
  width: 100%;
  overflow: hidden;
}
.sponsors-list {
  padding-top: 20px;
}

/**
Stpler CSS
*/
.step-progress__wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.step-progress__wrapper-before {
  background-color: grey;
  transform: translateY(-50%) perspective(1000px);
}
.step-progress__wrapper-after,
.step-progress__wrapper-before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 12px;
  width: 100%;
}
.step-progress__wrapper-after {
  background-color: red;
  transform: scaleX(0) translateY(-50%) perspective(1000px);
  transform-origin: left center;
  transition: transform 0.5s ease;
}
.step-progress__bar {
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.step-progress__step {
  z-index: 2;
  position: relative;
  --activeColor: red;
  --passiveColor: grey;
  --activeBorder: 5px;
  --passiveBorder: 5px;
}
.step-progress__step span {
  color: var(--passiveColor);
  transition: 0.3s ease;
  display: block;
  font-size: 30px;
  transform: translateZ(0) scale(1) perspective(1000px);
  font-weight: 900;
  text-align: center;
  opacity: 1;
}
@media (max-width: 767px) {
  .step-progress__step span {
    font-size: 28px;
  }
}
.step-progress__step--active .step-progress__step-label,
.step-progress__step--active span {
  color: var(--activeColor);
}
.step-progress__step--active .step-progress__step-icon {
  opacity: 1;
}
.step-progress__step--valid .step-progress__step-icon {
  opacity: 1;
  transform: translate3d(-50%, -50%, 0) scale(1) perspective(1000px);
}
.step-progress__step--valid span {
  color: var(--activeColor);
  opacity: 0;
  transform: translateZ(0) scale(2) perspective(1000px);
}
.step-progress__step--valid .step-progress__step-label {
  color: var(--activeColor);
}
.step-progress__step:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) perspective(1000px);
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  border: var(--passiveBorder) solid var(--passiveColor);
  transition: 0.3s ease;
}
@media (max-width: 767px) {
  .step-progress__step:after {
    width: 40px;
    height: 40px;
  }
}
.step-progress__step--active:after,
.step-progress__step--valid:after {
  border: var(--activeBorder) solid var(--activeColor);
}
.step-progress__step--valid:after {
  background-color: var(--activeColor);
}
.step-progress__step-label {
  position: absolute;
  top: calc(100% + 25px);
  left: 50%;
  transform: translateX(-50%) perspective(1000px);
  white-space: nowrap;
  font-size: 15px;
  font-weight: 600;
  color: grey;
  transition: 0.3s ease;
}
.step-progress__step-icon {
  font-size: 36px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: transform 0.3s ease;
  opacity: 0;
  transform: translate3d(-50%, -50%, 0) scale(0) perspective(1000px);
}
@media (max-width: 767px) {
  .step-progress__step-icon {
    font-size: 22px;
  }
}
/*# sourceMappingURL=main.css.map*/


